<!-- FOOTER -->

<footer class="footer">


    <div class="container">


        <div class="row gy-4">


            <!-- Logo Section -->

            <div class="col-lg-4 col-md-6">


                <h3 class="footer-logo">

                    <i class="fa-solid fa-graduation-cap"></i>
                    Online 
                    <span>Exam Portal</span>

                </h3>


                <p class="footer-text">

                    Smart online examination platform for students.
                    Learn, practice and test your knowledge anytime.

                </p>


            </div>



            <!-- Quick Links -->

            <div class="col-lg-2 col-md-6">


                <h5>Quick Links</h5>


                <ul>

                    <li><a href="#home">Home</a></li>

                    <li><a href="#cources">Courses</a></li>

                    <li><a href="#reviews">Student Review</a></li>

                    <li><a href="#contact">Contact</a></li>

                </ul>


            </div>




            <!-- Student -->

            <div class="col-lg-3 col-md-6">


                <h5>Student</h5>


                <ul>

                    <li><a href="#">Student Login</a></li>

                    <li><a href="#">Register</a></li>

                    <li><a href="#">Exam Portal</a></li>

                    <li><a href="#">Result</a></li>

                </ul>


            </div>




            <!-- Contact -->

            <div class="col-lg-3 col-md-6">


                <h5>Contact Us</h5>


                <ul class="contact-list">

                    <li>
                        <i class="fa-solid fa-location-dot"></i>
                        Pune, Maharashtra
                    </li>


                    <li>
                        <i class="fa-solid fa-envelope"></i>
                        info@examportal.com
                    </li>


                    <li>
                        <i class="fa-solid fa-phone"></i>
                        +91 98765 43210
                    </li>


                </ul>


            </div>



        </div>



        <hr>


        <div class="footer-bottom">


            <p>

                © 2026 Online Exam Portal. All Rights Reserved.

            </p>


            <div class="social-icons">


                <a href="#">
                    <i class="fa-brands fa-facebook"></i>
                </a>


                <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a>


                <a href="#">
                    <i class="fa-brands fa-linkedin"></i>
                </a>


                <a href="#">
                    <i class="fa-brands fa-twitter"></i>
                </a>


            </div>


        </div>


    </div>


</footer>