{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>OTP Verification</title>

    <link rel="stylesheet" href="{% static 'student/css/student_auth.css' %}">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<div class="login-container">

    <div class="left-panel">

        <img src="{% static 'student/images/login.png' %}" alt="OTP">

    </div>

    <div class="right-panel">

        <div class="login-card">

            <div class="logo">

                <img src="{% static 'student/images/logo.png' %}" alt="Logo">

            </div>

            <h2>OTP Verification</h2>

            <p>

                Enter the 6-digit OTP sent to your email.

            </p>

            {% if messages %}

                {% for message in messages %}

                    <div class="alert">

                        {{ message }}

                    </div>

                {% endfor %}

            {% endif %}

            <form method="POST">

                {% csrf_token %}

                <div class="input-box">

                    <i class="fa-solid fa-key"></i>

                    <input
                    type="text"
                    name="otp"
                    maxlength="6"
                    minlength="6"
                    placeholder="Enter OTP"
                    required>

                </div>

                <button
                class="login-btn"
                type="submit">

                    Verify OTP

                </button>

            </form>

            <div class="bottom-text">

                Didn't receive OTP?

                <a href="{% url 'forgot_resend_otp' %}">

                    Resend OTP

                </a>

            </div>

            <div class="bottom-text">

                <a href="{% url 'student_login' %}">

                    <i class="fa-solid fa-arrow-left"></i>

                    Back To Login

                </a>

            </div>

        </div>

    </div>

</div>

<script src="{% static 'student/js/student_auth.js' %}"></script>

</body>

</html>