{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Password Reset Successful</title>

<link rel="stylesheet"
href="{% static 'student/css/student_auth.css' %}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<div class="login-container">

    <div class="left-panel">

        <img src="{% static 'student/images/success.png' %}" alt="Success">

    </div>

    <div class="right-panel">

        <div class="login-card">

            <div class="success-icon">

                <i class="fa-solid fa-circle-check"></i>

            </div>

            <h2>Password Updated</h2>

            <p>

                Your password has been changed successfully.

            </p>

            <a href="{% url 'student_login' %}" class="login-btn">

                Back To Login

            </a>

        </div>

    </div>

</div>

</body>

</html>