{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Reset Password</title>

<link rel="stylesheet" href="{% static 'student/css/reset.css' %}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<div class="reset-container">

    <div class="reset-card">

        <div class="icon">
            <i class="fa-solid fa-lock"></i>
        </div>

        <h2>
            Reset Password
        </h2>

        <p>
            Create a new password for your account.
        </p>

        {% if messages %}
            {% for message in messages %}
                <div class="message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <div class="input-box">

                <label>
                    New Password
                </label>

                <div class="password-box">

                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Enter New Password"
                        required>

                    <span onclick="togglePassword('password',this)">
                        <i class="fa-solid fa-eye"></i>
                    </span>

                </div>

            </div>

            <div class="input-box">

                <label>
                    Confirm Password
                </label>

                <div class="password-box">

                    <input
                        type="password"
                        name="confirm_password"
                        id="confirm_password"
                        placeholder="Confirm Password"
                        required>

                    <span onclick="togglePassword('confirm_password',this)">
                        <i class="fa-solid fa-eye"></i>
                    </span>

                </div>

            </div>

            <button type="submit">

                <i class="fa-solid fa-key"></i>

                Update Password

            </button>

        </form>

        <a href="{% url 'student_login' %}" class="back">

            <i class="fa-solid fa-arrow-left"></i>

            Back To Login

        </a>

    </div>

</div>

<script>

function togglePassword(id,icon){

    let input=document.getElementById(id);

    let i=icon.querySelector("i");

    if(input.type==="password"){

        input.type="text";

        i.classList.remove("fa-eye");

        i.classList.add("fa-eye-slash");

    }else{

        input.type="password";

        i.classList.remove("fa-eye-slash");

        i.classList.add("fa-eye");

    }

}

</script>

</body>

</html>