{% include "teacher/navbar.html"%}

<title>Student List</title>

<link rel="stylesheet" href="/static/teacher/css/teach_View_details.css">


<div class="container">

    <div class="heading">

        <h1>Police Bharti - Student List</h1>

    </div>

    <!-- Summary Cards -->
    <div class="row g-3 mb-3">
      <div class="col-6 col-lg-4 pt-4">
        <div class="stat-card pt-4">
          <div class="stat-icon blue"><i class="fa-solid fa-users"></i>   </div>
          <div>
            <div class="stat-value">5</div>
            <div class="stat-label">Total Student</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-4 pt-4">
        <div class="stat-card pt-4">
          <div class="stat-icon green"><i class="fa-solid fa-check"></i> </i></div>
          <div>
            <div class="stat-value">100</div>
            <div class="stat-label">Total Pass</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-4 pt-4">
        <div class="stat-card pt-4">
          <div class="stat-icon orange"><i class="fa-solid fa-circle-xmark"></i></div>
          <div>
            <div class="stat-value">2</div>
            <div class="stat-label">Total Failed</div>
          </div>
        </div>
      </div>
 


    <!-- Search -->

    <div class="search-box">

        <input
        type="text"
        id="search"
        placeholder="Search Student...">

    </div>

    <!-- Table -->

    <div class="table-box">

        <table>

            <thead>

                <tr>

                    <th>SR</th>

                    <th>Roll No</th>

                    <th>Student Name</th>

                    <th>Marks</th>

                    <th>Result</th>

                    <th>Action</th>

                </tr>

            </thead>

            <tbody id="studentTable">

            </tbody>

        </table>

    </div>

</div>

<!-- Delete Popup -->

<div class="popup" id="popup">

    <div class="popup-box">

        <h2>Delete Student</h2>

        <p>Are you sure you want to delete this student?</p>

        <div class="btn-group">

            <button class="cancel"
            onclick="closePopup()">

                Cancel

            </button>

            <button class="delete"
            onclick="deleteStudent()">

                Delete

            </button>

        </div>

    </div>

</div>

<script src="/static/teacher/js/teach_View_details.js"></script>



{% include "teacher/footer.html"%}
