{% include 'admin/navbar.html' %}

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="card shadow-sm border-0 mb-4">

    <div class="card-header text-white py-3" style="background:#176F8E;">
        <h4 class="mb-0">
            <i class="bi bi-journal-plus me-2"></i>
            Available Exam Form
        </h4>
    </div>

    <div class="card-body">

        <form action="{% url 'update_available_exam' data.id %}" method="post">
            
            {% csrf_token %}

            <div class="row g-4">

                <div class="col-lg-4">
                    <label class="form-label fw-semibold">Exam Name</label>
                    <input type="text" class="form-control form-control-lg"
                           name="exam_name"
                           placeholder="Enter Exam Name" value="{{data.exam_name}}">
                </div>

                <div class="col-lg-4">
                    <label class="form-label fw-semibold">Exam Description</label>
                    <input type="text"
                           class="form-control form-control-lg"
                           name="exam_description"
                           placeholder="Weekly Assessment" value="{{data.exam_description}}">
                </div>

                <div class="col-lg-4">
                    <label class="form-label fw-semibold">Total Questions</label>
                    <input type="text"
                           class="form-control form-control-lg"
                           name="total_questions"
                           placeholder="50" value="{{data.total_questions}}">
                </div>

                <div class="col-lg-6">
                    <label class="form-label fw-semibold">Duration (Minutes)</label>
                    <input type="text"
                           class="form-control form-control-lg"
                           name="duration"
                           placeholder="60" value="{{data.duration}}">
                </div>

                <div class="col-lg-6">
                    <label class="form-label fw-semibold">Total Marks</label>
                    <input type="text"
                           class="form-control form-control-lg"
                           name="marks"
                           placeholder="50" value="{{data.marks}}">
                </div>

              <div class="col-lg-6">
    <label class="form-label fw-semibold">Status</label>

    <select class="form-select form-select-lg" name="status">

        <option value="available"
            {% if data.status == 'available' %}selected{% endif %}>
            Available Now
        </option>

        <option value="upcoming"
            {% if data.status == 'upcoming' %}selected{% endif %}>
            Upcoming
        </option>

        <option value="closed"
            {% if data.status == 'closed' %}selected{% endif %}>
            Closed
        </option>

    </select>
</div>

                <!-- <div class="col-12">

                    <label class="form-label fw-semibold">
                        Exam Instructions
                    </label>

                    <textarea
                            class="form-control"
                            rows="6"
                            name="exam_instructions"
                            placeholder="Enter each instruction on a new line" >{{ data.exam_instructions }}</textarea>

                </div> -->

                <div class="col-12 text-end">

                    <button class="btn btn-lg text-white px-5"
                            style="background:#176F8E;">

                        <i class="bi bi-check-circle me-2"></i>

                        Save Exam

                    </button>

                </div>

            </div>

        </form>

    </div>

</div>
{% if messages %}
    {% for message in messages %}
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: '{{ message }}',
            confirmButtonColor: '#176F8E',
            timer: 2000,
            showConfirmButton: false
        });
    </script>
    {% endfor %}
{% endif %}
{% include 'admin/footer.html'%}
