@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#e0e0e4;
}

/* Heading */

.page-heading h2{

    font-size:42px;

    font-weight:700;

    color:#1d2463;

}

.page-heading p{

    color:#666;

    font-size:16px;

    margin-top:8px;

}

.summary-card{

    background:#fff;

    border-radius:20px;

    padding:25px;

    display:flex;

    align-items:center;

    gap:20px;

    min-height:110px;

    border:1px solid #edf1f7;

    box-shadow:0 10px 25px rgba(0,0,0,.07);

    transition:.4s;

    overflow:hidden;

    position:relative;

}

.summary-card::before{

    content:"";

    position:absolute;

    left:0;

    top:0;

    width:5px;

    height:90%;
/* 
    background:linear-gradient(180deg,#5B4CF3,#7D5CFF); */

}

.summary-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 35px rgba(91,76,243,.18);

}
.summary-card{

    animation:cardAnimation .8s ease;

}

@keyframes cardAnimation{

    from{

        opacity:0;

        transform:translateY(40px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

.card-icon{

    width:70px;

    height:70px;

    border-radius:18px;

    display:flex;

    justify-content:center;

    align-items:center;

    color:#fff;

    font-size:30px;

    transition:.4s;

}

.summary-card:hover .card-icon{

    transform: scale(1.12);

}

.purple{
background:linear-gradient(135deg,#5B4CF3,#8B5CF6);
}

.green{
background:linear-gradient(135deg,#00C853,#00E676);
}

.blue{
background:linear-gradient(135deg,#2196F3,#64B5F6);
}

.orange{
background:linear-gradient(135deg,#FF9800,#FFC107);
}

.red{
background:linear-gradient(135deg,#FF4D6D,#FF6B81);
}

/* Content */

.card-content{
    flex:1;
}

.card-content span{

    font-size:15px;

    color:#555;

}

.card-content h3{

    margin:6px 0;

    font-size:20px;

    color:#141414;

    font-weight:200px;

}

.card-content small{

    color:#777;

    font-size:14px;

}

@media(max-width:1200px){

.summary-card{

min-height:130px;

}

}

@media(max-width:992px){

.summary-card{

padding:20px;

}

.card-content h3{

font-size:28px;

}

}

@media(max-width:768px){

.summary-card{

flex-direction:column;

text-align:center;

}

.card-icon{

margin-bottom:10px;

}

}

@media(max-width:576px){

.page-heading h2{

font-size:32px;

}

.page-heading p{

font-size:14px;

}

.card-content h3{

font-size:26px;

}

}

/*==============================
      Filter Section
==============================*/

.filter-section{

    background:#fff;

    margin-top:35px;

    padding:28px;

    border-radius:20px;

    border:1px solid #edf1f7;

    box-shadow:0 8px 25px rgba(0,0,0,.05);

    animation:cardAnimation .8s ease;

}

/* Label */

.filter-label{

    display:block;

    margin-bottom:8px;

    font-weight:600;

    color:#166f8d;

}

/* Input */

.custom-input .form-control{

    height:52px;

    border-radius:12px 0 0 12px;

    border:1px solid #dce3ef;

}

.custom-input .input-group-text{

    border-radius:0 12px 12px 0;

    background:#fff;

    border:1px solid #dce3ef;

}

/* Select */

.custom-select{

    height:52px;

    border-radius:12px;

    border:1px solid #dce3ef;

}

/* Focus */

.form-control:focus,
.form-select:focus{

    box-shadow:none;

    border-color:#166f8d;

}

/* Button */

.btn-filter{

    height:52px;

    background:linear-gradient(135deg,#166f8d,#166f8d);

    color:#fff;

    border:none;

    border-radius:12px;

    font-weight:600;

    transition:.3s;

}

.btn-filter:hover{

    transform:translateY(-3px);

    color:#fff;

    box-shadow:0 10px 18px rgba(91,76,243,.25);

}

.btn-reset{

    width:60px;

    height:52px;

    border-radius:12px;

    background:#fff;

    border:1px solid #dce3ef;

    transition:.3s;

}

.btn-reset:hover{

    background:#f5f7ff;

    transform:rotate(-20deg);

}
/* ===========================
   Payment Chart
=========================== */

.chart-card{
    background:#fff;
    border-radius:20px;
    padding:25px;
    box-shadow:0 10px 30px rgba(0,0,0,.06);
    height:100%;
    transition:.3s;
}

.chart-card:hover{
    transform:translateY(-5px);
}

.payment-chart-wrapper{
    width:100%;
    max-width:320px;
    height:320px;
    margin:auto;
    position:relative;
}

.payment-chart-wrapper canvas{
    width:100% !important;
    height:100% !important;
}

@media(max-width:992px){

.payment-chart-wrapper{
    max-width:280px;
    height:280px;
}

}

@media(max-width:576px){

.payment-chart-wrapper{
    max-width:230px;
    height:230px;
}

}

/*========================
      Summary Card
=========================*/

.summary-box{

    background:#fff;

    border-radius:20px;

    padding:25px;

    border:1px solid #edf1f7;

    box-shadow:0 8px 25px rgba(0,0,0,.05);

    height:100%;

    width: 100%;

}

.summary-item{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:16px 0;

    border-bottom:1px solid #ececec;

}

.summary-item span{

    color:#666;

    font-size:15px;

}

.summary-item strong{

    color:#166f8d;

}

/*==========================
Transaction Report
==========================*/

.transaction-section{

    margin-top:40px;

}

.transaction-card{

    background:#fff;

    border-radius:20px;

    padding:10px;

    border:1px solid #e9edf5;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    transition:.4s;

    height:100%;

    width:100%;

}

.transaction-card:hover{

    transform:translateY(-8px);

    box-shadow:0 20px 35px rgba(91,76,243,.18);

}

.card-top{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.card-top h6{

    font-size:20px;

    font-weight:700;

    color:#166f8d;

}

.info p{

    margin-bottom:10px;

    color:#555;

    font-size:15px;

}

.info strong{

    color:#166f8d;

}



.btn-view{

    background:#166f8d;

    color:#fff;

    border:none;

}

.btn-view:hover{

    background:#166f8d;

    color:#fff;

}



.transaction-card{

    animation:fadeUp .8s ease;

}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

@media(max-width:768px){

.btn-download{

width:100%;

margin-top:15px;

}

}